@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

body {
  margin: 0;
  font-family: 'Bree Serif', serif;
  background-color: #219344;
  color: #ff2306;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wavy {
  position: relative;
  bottom: 0.3em;
  font-size: 21vw;
  transform: rotateX(20deg);
  transform-style: preserve-3d;
  animation: wavy-main 9.23s ease-in-out infinite alternate;
}

sub, sup {
  display: inline-block;
  transform-style: preserve-3d;
}

sub {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(5deg);
  animation: wavy-sub 8s ease-in-out infinite alternate;
}

sup {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-8deg);
  animation: wavy-sup 7.13s ease-in-out infinite alternate;
}

@keyframes wavy-main {
  from {
    transform: rotateX(12deg) rotateY(0deg) rotateZ(0deg);
  }

  to {
    transform: rotateX(0deg) rotateY(12deg) rotateZ(2deg);
  }
}

@keyframes wavy-sub {
  from {
    transform: rotateX(0deg) rotateY(7deg) rotateZ(4deg);
  }

  to {
    transform: rotateX(0deg) rotateY(-7deg) rotateZ(-4deg);
  }
}

@keyframes wavy-sup {
  from {
    transform: rotateX(0deg) rotateY(5deg) rotateZ(14deg);
  }

  to {
    transform: rotateX(0deg) rotateY(-5deg) rotateZ(-8deg);
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

/*.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
